*{
    margin: 0;
    padding: 0;
}
.logo{
    padding: 5px 5px 5px 90px;
}


#xyz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Set background color */
    padding: 10px 10px 7px 10px; /* Add some padding for better spacing */
}

.logo a img{
    padding: 0;
    float: left;
    margin: 0px 30px 0px 10px;
    height: 32px;
    width: 145px;
}
header{
    position: sticky;
    top:0;
}
#navigation{ 
    margin-right: 2.5%;
}
#navigation a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    justify-content: center;
    padding: 20px;
    text-decoration: none;

}
a :hover{
    color:#387ed1;
    background-color:whitesmoke;
    padding: 20px 6px 20px 6px;
    position: relative;
}
.login{
    padding:10px;
    margin-right: 7%;
    border: 1px solid #387ed1;
    border-radius: 3px;
    height:15px;
    width:60px;
    
}
.login a{
    color: #387ed1;
    text-decoration: none;
    font-weight: 800;
    padding:0px 2px 0px 0px; 
}
main{
    display: flex;
    justify-content: center;
}
.heading{
    width:500px;
    align-content: center;
}
.heading h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
}
.heading span{
    color: #387ed1;
}
.heading p{
    font-family: 'Poppins';
    letter-spacing:1px;
    color:#999;
    font-size: 1.1em;
    padding: 8px;

}
.heading h4{
    font-family: 'Poppins';
    font-weight: bold;
    color:#999;
    padding:6px;
    margin-right: 3px;
}
.heading a{
    text-decoration: none;
    display: flex;
}
.heading button{
    border-radius: 5px;
    border-color:white;
    margin: 20px;
    padding: 5px;
}
.heading a img{
    margin: 0px;
    height: 30px;
    width: 30px;
    display: inline;
}
.heading a p{
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
}
.image img{
    border-radius: 25px;
    height:480px;
    width:460px;
    display:inline;
    float: inline-end;
}
.black{
    background-color: black;
    height: 375px;
    display: flex;
    margin-bottom: 16px;
    padding-bottom: 40px;
    justify-content: space-around;
}
.head h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9em;
    justify-content: center;
    background-color: black;
    margin-top: 26px;
    margin-bottom: 0;
    padding: 55px 0px 0px 520px;
}
.lol img{
    height:170px;
    width:170px;
    padding:70px 100px 40px 120px;
    margin:0;
}
.h4{
    color:white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 20px 0px 100px;
}
.p{
    color:white;
    padding:1px 20px 20px 130px;
    font-size: 1.3em;
}
.h{
    color:white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 20px 0px 135px;
}
.pi{
    color:white;
    padding:1px 20px 20px 130px;
    font-size: 1.3em;
}
.hi{
    color:white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 20px 0px 145px;
}
.hip{
    color:white;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 20px 0px 100px;
}
.pip{
    color:white;
    padding:2px 20px 20px 110px;
    font-size: 1.2em;
}
.why{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
.pa p{
    font-size: large;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 1px;
}
.ty{
    display:flex;
    justify-content: center;
    padding-bottom: 60px;
}
.pic img{
    height: 350px;
    width: 520px;
    border-radius: 10px;
    margin:40px;

}
.k h3{
    font-size: 1.6em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding:150px 10px 2px 10px;
}
.k p{
    padding-left: 15px;
    font-size: large;
    font-weight: lighter;
    letter-spacing: 1px;
}
.se{
    letter-spacing: 1px;
    font-size: 2.5em;
    font-weight: bold;
    color:black;
    display: flex;
    justify-content: center;
    background-color: #f4f9ff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.di{
    display: flex;
    background-color: #f4f9ff;
    justify-content: center;
    box-sizing: content-box;
    padding-bottom: 50px;
}
.pay{
    padding:25px 30px 25px 30px;
    background-color: white;
    border-radius: 12% 0px 0px 12%;
}
.bank{
    padding:25px 30px 25px 0px;
    background-color: white;
}
.lend{
    padding:25px 30px 25px 0px;
    background-color: white;
    border-radius: 0% 12% 12% 0%;
    
}
.Bharat{
    display: flex;
    justify-content: center;
    background-color:#f4f9ff;
    padding-bottom: 120px;
}
.UPI{
    padding:17px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
}
.UPI img{
    border-radius: 8px;
    padding-bottom: 10px;
}
.Pes{
    padding: 17px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
}
.Pes img{
    border-radius: 8px;
    width: 520px;
    height: 250px;
}
.UPI h3{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.UPI p{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    color:#999;
    font-size: 1.1em;
}
.UPI a{
    padding-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2d72c7;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.Pes h3{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    padding-top: 23px;
    padding-bottom: 13px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Pes p{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    color:#999;
    font-size: 1.1em;
    padding-bottom: 20px;
}
.Pes a{
    padding-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2d72c7;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.off{
    letter-spacing: 1px;
    font-size: 2.5em;
    font-weight: bold;
    color:black;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
.post{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
/* .pos img{
    padding-right: 300px;
} */
.lo img{
    padding-right: 330px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.lo h3{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.lo p{
    display: flex;
    align-items: center;
    line-height: 10px;
    /* margin-bottom: 16px; */

}
.lo p img{
    height :60px;
    width: 60px;
    padding-right: 70px;
    padding-top: 0px;
    padding-bottom: 12px;
}
.lo a{
    color: #2d72c7;
    height: 20px;
    font-size: 14px;
}
.or h2{
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.lot{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}
.ot a img{
    border-radius: 150px;
    position: relative;
    padding-bottom: 20px;
}
.ot h3{
    color:#113157;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    padding-left: 40px;
}
.vi{
    display: flex;
    justify-content: center;padding-bottom: 60px;
}
.vi button{
    padding:15px 25px 15px 25px;
    color:#387ed1;
    font-weight: bold;
    border-color: #387ed1;
    border-radius: 5px;
    text-transform: uppercase;
}
.vi button:hover{
    color:white;
    background-color: #2d72c7;
}
.h h3{
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-bottom: 50px;
}
.end{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.boss{
    box-shadow:0 2px 8px 1px rgba(0,0,0,0.16);
    padding-right: 60px;
    border-radius: 12px;
    border:1px solid rgba(232,232,232,0.54);
    padding: 20px;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.boss h2{
    font-size: large;
    font-weight: lighter;
    color: #999;
    padding-bottom: 10px;
}
.boss p{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 5px;
}
.boss a{
    text-decoration: none;
    color: #387ed1;
    font-size: small;
    padding-top: 50px;
    font-weight: bold;
}
.li{
    display: flex;
    justify-content: center;padding-bottom: 100px;
}
.li button{
    padding:15px 25px 15px 25px;
    color:#387ed1;
    font-weight: bold;
    border-color: #387ed1;
    border-radius: 5px;
    text-transform: uppercase;
}
.li button:hover{
    color:white;
    background-color: #2d72c7;
}
.po{
    display: flex;
}
.re{
    background-color: black;
    padding-bottom: 20px;
}
.re a img{
    height: 32;
    width: 145;
    padding: 0;
    margin: 120px 0px 50px 60px;
    box-sizing: content-box;
}
.re p{
    color: #f4f9ff;
    margin-left: 70px;
    margin-right: 50px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    line-height: 25px;
}
.po{
    background-color: black;
}

.yt h4{
    margin-bottom: 50px;
    font-size: small;
    color: white;
    margin-top: 120px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.yt a{
    text-decoration: none;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
.yt a:hover{
    color:#2d72c7;
    background-color: black;
}
.yt p{
    color: #f4f9ff;
    margin-bottom: 20px;
    background-color: black;
}
.yt h5{
    margin-bottom: 50px;
    font-size: small;
    color: white;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.qt h4{
    margin-bottom: 50px;
    font-size: small;
    color: white;
    margin-top: 120px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.qt p{
    color: #f4f9ff;
    margin-bottom: 20px;
    margin-left: 60px;
}

.bt h4{
    margin-bottom: 20px;
    font-size: small;
    color: white;
    margin-top: 120px;
    margin-left: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.bt p{
    color: white;
    margin-left: 80px;
    margin-bottom: 20px;
}
.footerLogoList {
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 32px 0;
    background-color: black;
}
.container {
    max-width: 940px;
    display: flex;
}
.footerLogoList a {
    display: inline-flex;
    padding: 16px;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 0px;
}
.footer_copy{
    background-color: black;
}
.copyright{
    float: left;
    color: #999;
    margin: 40px;
}
#Footer .footer_copy .one {
    margin-bottom: 20px;
    padding-top: 30px;
    min-height: 33px;
}
.one.column {
    width: 100%;
}
.column, .columns {
    float: left;
    margin: 0;
}
.mcb-column-inner {
    position: relative;
    margin-top: var(--mfn-column-gap-top);
    margin-bottom: var(--mfn-column-gap-bottom);
    margin-left: var(--mfn-column-gap-left);
    margin-right: var(--mfn-column-gap-right);
}
#back_to_top {
    float: right;
    margin: -9px 0 0;
}
.copyright {
    float: left;
}
.social-menu {
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content:space-evenly;
}
ul {
    list-style: none outside;
}
.menu-item {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    /* align-items: end; */
}
#menu-item-84{
    margin-left: 120px;
}
#Footer .footer_copy .social-menu li {
    display: inline-block;
    margin-right: 6px;
    border-right: none;
    padding-right: 6px;
    border-right: 1px solid rgba(255,255,255,.1);
}
.mfn-footer, .mfn-footer .widget_recent_entries ul li a {
    color: #cccccc;
}
.social-menu a {
    color: #65666C;
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    margin: 40px 0px 0px 40px;
}
.menu-item a{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    float: right;
    justify-content: flex-end;
    padding-left: 50px;
}